<html xmlns:th="www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Cadastro de Correntistas</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <link rel="icon" th:href="@{/imagens/favicon.ico}" type="image/x-icon" />
</head>

<body>
    <div th:insert="~{cabecalho}"></div>
    <h1>Cadastro de Correntistas</h1>

    <div th:text="${mensagem}" style="color: red"></div>

    <form th:action="@{/correntistas}" method="POST" th:object="${correntista}">
        <input type="hidden" th:field="*{id}" />
        Nome: <input type="text" th:field="*{nome}" /><br /><br />
        Senha: <input type="password" th:field="*{senha}" /><br /><br />
        Email: <input type="email" th:field="*{email}" /><br /><br />
        Admin: <input type="checkbox" th:field="*{admin}" /><br /><br />

        <hr>

        <button type="submit">Salvar</button>
        <a th:href="@{/correntistas}">Cancelar</a>
    </form>
</body>

</html>